#bold {
    font-size: larger
}

form {
    color: black;
}

body {
    color: black;
    background-color: gray;
}

img {
    border-radius: 20px;
    width: 30%;
    float: right;
    position: absolute;
    left: 40px;
}