#bold {
    font-size: larger
}

form {
    color: black;
}

body {
    color: black;
    background-color: gray;
}

img {
    border-radius: 20px;
    width: 40%;
    float: right;
    border-style: solid;
}